/* Absolute Center Spinner */
.loading {
  position: absolute;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

.overlay{
	display: none;
}
.asyncloader-hide{
    display: none;
	
}

.asyncloader-show{
    display: block;
	
}