<pagination-template #p="paginationApi"
                     [id]="config.id"
                     [maxSize]="maxSize"
                     (pageChange)="pageChange.emit($event)">


    <ul class="custom-pagination"  *ngIf="!(autoHide && p.pages.length <= 1)">
        <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <a (click)="p.setCurrent(1)">&#171;</a>
        </li>
        <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <a (click)="p.previous()">&#8249;</a>
        </li>
        <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
            <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                <span>{{ page.label }}</span>
            </a>
            <div *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
            </div>
        </li><!-- end ngFor: pageNumber in pages track by tracker(pageNumber, $index) --><!-- ngIf: directionLinks -->

        <li class="pagination-next" [class.disabled]="p.isLastPage()">
            <a (click)="p.next()">&#8250;</a>
        </li>
        <li class="pagination-next" [class.disabled]="p.isLastPage()">
            <a (click)="p.setCurrent(p.getLastPage())">&#187;</a>
        </li>

    </ul>

</pagination-template>