<async-loader [isRunning]="isRequesting"></async-loader>
<div class="dashboard_container">
    <div class="container_dashboard " [class.height_in_IE]="detectIE() != false">

        <div class="infobar filterBlue">
            <followup-header id="followUpHeader" (notification) = 'onNotification($event)' (notify)='onNotify($event)' (filterNotify)='onFilterNotify($event)' (searchNotify)='onSearchNotify($event)' (overDueDateChangeNotify)="onOverDueDateChangeNotify($event)"
                              (clearSearchNotify)='onClearSearchNotify($event)' (createNewFollowUpNotify)="onCreateNewFollowUpNotify($event)" (dueDateRangechangeNotify)="onDueDateRangechangeNotify($event)" [UIParams]="UIParam" [configurationData]="configurationData"></followup-header>

        </div>
        <div>
            <followup-header-notification-banner *ngIf="isNotificationVisible" [notification]='notification' (onCancel)="onNotificationCancel()" [UIParams]="UIParam"></followup-header-notification-banner>
        </div>
        <!-- Dashboard Table HTML container start -->
        <div class="folloup_dashboard_content_table">
            <div class="folloup_dashboard_table_container">
                <div class="folloup_dashboard_table_header"></div>
                <div class="folloup_dashboard_table_data" [style.height]="isNotificationVisible?'534px':'558px'">
                    <table cellspacing="0" class="table-sortable">
                        <thead>
                            <tr class="folloup_dashboard_table_head">
                                <th title="{{UIParam?.Status}}">
                                    <div class="folloup_dashboard_table_colHeader">
                                        <span class="header-content-holder header-content-holder-status">{{UIParam?.Status}}</span>
                                        <span class="notsortable"></span>
                                    </div>
                                </th>
                                <th title="{{UIParam?.Subject}}">
                                    <div class="folloup_dashboard_table_colHeader">
                                        <span class="header-content-holder">{{UIParam?.Subject}}</span>
                                        <span class="notsortable"></span>
                                    </div>
                                </th>
                                <th (click)="changeSorting('eDUE_DATE')" title="{{UIParam?.DueDate}}">
                                    <div class="folloup_dashboard_table_colHeader due_date_column" role="button">
                                        <span class="header-content-holder icon_margin">{{UIParam?.DueDate}}</span>
                                        <span class="sortorder fa fa-caret-down" *ngIf="sortingColumn === 'eDUE_DATE' && sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                        <span class="sortorder fa fa-caret-up" *ngIf="sortingColumn === 'eDUE_DATE' && !sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                    </div>
                                </th>
                                <th (click)="changeSorting('eTYPE')" title="{{UIParam?.Type}}">
                                    <div class="folloup_dashboard_table_colHeader" role="button">
                                        <span class="header-content-holder">{{UIParam?.Type}}</span>
                                        <span class="sortorder fa fa-caret-down" *ngIf="sortingColumn === 'eTYPE' && sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                        <span class="sortorder fa fa-caret-up" *ngIf="sortingColumn === 'eTYPE' && !sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                    </div>
                                </th>
                                <th (click)="changeSorting('eCUSTOMER_NAME')" title="{{UIParam?.CustomerName}}">
                                    <div class="folloup_dashboard_table_colHeader" role="button">
                                        <span class="header-content-holder">{{UIParam?.CustomerName}}</span>
                                        <span class="sortorder fa fa-caret-down" *ngIf="sortingColumn === 'eCUSTOMER_NAME' && sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                        <span class="sortorder fa fa-caret-up" *ngIf="sortingColumn === 'eCUSTOMER_NAME' && !sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                    </div>
                                </th>
                                <th (click)="changeSorting('eID')" title="{{UIParam?.CustomerID}}">
                                    <div class="folloup_dashboard_table_colHeader table_column_margin" role="button">
                                        <span class="header-content-holder">{{UIParam?.CustomerID}}</span>
                                        <span class="sortorder fa fa-caret-down" *ngIf="sortingColumn === 'eID' && sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                        <span class="sortorder fa fa-caret-up" *ngIf="sortingColumn === 'eID' && !sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                    </div>
                                </th>
                                <th (click)="changeSorting('eOWNER')" title="{{UIParam?.OwnerName}}">
                                    <div class="folloup_dashboard_table_colHeader" role="button">
                                        <span class="header-content-holder icon_margin">{{UIParam?.OwnerName}}</span>
                                        <span class="sortorder fa fa-caret-down" *ngIf="sortingColumn === 'eOWNER' && sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                        <span class="sortorder fa fa-caret-up" *ngIf="sortingColumn === 'eOWNER' && !sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                    </div>
                                </th>
                                <th (click)="changeSorting('eLAST_MODIFIED_DATE')" title="{{UIParam?.LastModifiedDate}}">
                                    <div class="folloup_dashboard_table_colHeader table_column_margin" role="button">
                                        <span class="header-content-holder">{{UIParam?.LastModifiedDate}}</span>
                                        <span class="sortorder fa fa-caret-down" *ngIf="sortingColumn === 'eLAST_MODIFIED_DATE' && sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                        <span class="sortorder fa fa-caret-up" *ngIf="sortingColumn === 'eLAST_MODIFIED_DATE' && !sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                    </div>
                                </th>
                                <th (click)="changeSorting('eLAST_MODIFIED_USER')" title="{{UIParam?.LastModifiedUser}}">
                                    <div class="folloup_dashboard_table_colHeader table_column_margin" role="button">
                                        <span class="header-content-holder">{{UIParam?.LastModifiedUser}}</span>
                                        <span class="sortorder fa fa-caret-down" *ngIf="sortingColumn === 'eLAST_MODIFIED_USER' && sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                        <span class="sortorder fa fa-caret-up" *ngIf="sortingColumn === 'eLAST_MODIFIED_USER' && !sortingReverse" ng-class="{sortingReverse: sortingReverse}"></span>
                                    </div>
                                </th>
                                <th title="{{UIParam?.Actions}}">
                                    <div class="folloup_dashboard_table_colHeader actions_column">
                                        <span class="header-content-holder header-content-holder-actions">{{UIParam?.Actions}}</span>
                                        <span class="notsortable"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <!-- table body -->
                        <tbody>
                            <tr *ngFor="let datum of data | paginate: { id: 'clients', itemsPerPage: recordsPerPage, currentPage: currPage, totalItems: totalNumberOfRecords }; let i = index" (click)="onFollowUpListItemClick($event,i)" [customIdentifier]="datum.FollowUpID" [class.type_face_bold]="hasUnreadNotification(datum)">
                                <td style="padding-left:5px;">
                                    <followup-status [datum]="datum" [UIParams]="UIParam" [configurationData]="configurationData"></followup-status>
                                </td>
                                <td class="subject_column" title="{{datum.FollowUpSubject}}">{{datum.FollowUpSubject}}</td>
                                <td class="due_date_column date_column"><em class="uwf-exclamation clr_red" title="{{UIParam?.Expired}}" [style.visibility]="isUrgent(datum)?'visible':'hidden'"  aria-hidden="true"></em><span title="{{getFollowupDueDate(datum.FollowUpDueDate)| amDateFormat: 'MMM DD YYYY, hh:mm A'}}">{{getFollowupDueDate(datum.FollowUpDueDate)| amDateFormat: 'MMM DD YYYY, hh:mm A'}}</span></td>
                                <td title="{{getFollowupType(datum)}}">{{getFollowupType(datum)}}</td>
                                <!--<td *ngIf="selectedState==resourceConfigData?.states[2]?.state">{{datum.SkillAddress}}</td>-->
                                <td title="{{datum.CustomerName}}">{{datum.CustomerName}}</td>
                                <td title="{{datum.ContactID}}">{{datum.ContactID}}</td>
                                <td title="{{datum.Owner}}"><em class="uwf-user" title="{{UIParam?.Personal}}" [style.visibility]="showPersonalIcon(datum)?'visible':'hidden'" aria-hidden="true"></em><span>{{datum.Owner}}</span></td>
                                <td class="date_column" title="{{getFollowupCreationDate(datum.FollowUpLastModifiedDate)| amDateFormat: 'MMM DD YYYY, hh:mm A'}}">{{getFollowupCreationDate(datum.FollowUpLastModifiedDate)| amDateFormat: 'MMM DD YYYY, hh:mm A'}}</td>
                                <td title="{{datum.FollowUpLastModifyUser}}">{{datum.FollowUpLastModifyUser}}</td>
                                <td class="actions_column button_tableActions" [style.padding-right]="detectIE() != false ? '15px':'10px'">
                                    <button id="editButton" class="uwf-edit" [class.clr_lightgrey]="datum.FollowUpStatus==configurationData?.Status[2]?.StatusID" [disabled]="datum.FollowUpStatus==configurationData?.Status[2]?.StatusID" [title]="datum.FollowUpStatus==configurationData?.Status[2]?.StatusID?'':UIParam?.Edit" (click)="openFollowUpInEditMode($event,i)"></button>
                                    <button class="uwf-expand" title="{{UIParam?.View}}"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Dashboard Table HTML container end -->
        <!--Dashboard footer begins-->
        <div>
            <div class="bubble" *ngIf="!isRequesting">
                <span id="recordsFoundMessage" *ngIf="numberOfRecordsFound?.length > 0">{{numberOfRecordsFound}} </span>
                <div class="pagination-container">
                    <!--Pagination Footer-->
                     <custom-followup-pagination class="paginator" (pageChange)="onPageChangeByPagination($event)" [recordsPerPage] ="recordsPerPage" [currPage] = "currPage" [maxSize] = "5" [followUps]="data"></custom-followup-pagination>
                </div>
            </div>
        </div>
        <!--Move modal here so that click event does not get propgated to higher DOM hierarchy-->
        <common #childModal class="text-left" [UIParams]="UIParam" [slides]="modalData" [currPageNumber]="currPage"
                (modalShown)="onModalShown($event)" (pageChange)="onPageChange($event)" (dueDateChange) ="onDueDateChange($event)" (editModeEnable)="onEditModeEnable($event)" (errorMessageNotify)="onErrorMessageNotify($event)" (fetchMediaDetialNotify)="onFetchMediaDetialNotify($event)" (fetchInteractionMediaDetailNotify)="onFetchInteractionMediaDetailNotify($event)"></common>
    </div>
</div>
