/* Page template container */
.dashboard_container{ 
    display: flex; 
    flex-direction: row; 
    overflow: hidden; 
    background-color: white;
    height: 100%; 
    width: 100% }
.container_dashboard {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    min-width: 1000px;
    height:100%;
}


.height_in_IE{
    height:665px !important;
}
/* dashboard header tab CSS */
.tabs_pages{
    position: absolute; 
}

.tabs_pages a{
    text-decoration: none;
}
.reset{
    position: absolute; right: 10px; top:2px
}

.tabs_pages a { 
    display: inline-block;
    height: 25px; 
    line-height: 25px; 
    padding: 0 10px; 
    background: #ffffff; 
    background: linear-gradient(to bottom,  #FFF 0%,#EEE 46%,#CCC 100%); 
    border-radius: 5px 5px 0px 0px; 
    border-left: 1px solid #CCC; 
    border-right: 1px solid #CCC; 
    border-top: 1px solid #CCC; 
    border-bottom: none
}
  
.tabs_pages a:hover{ 
        background: #FFF !important; 
        border-left: 1px solid #CCC; 
        border-right: 1px solid #CCC;
        border-top: 1px solid #CCC; 
        border-bottom: none
        }
.tabs_pages a.active{ 
    background: #4489b6 !important; 
    color: #fff; 
    font-weight: bold; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); 
    border:none
    }
.tabs_pages a.active > a:focus 
{ color: #fff }
.tabs_pages a.active:first-child > a 
{ background: #00a673  !important }

/* dashboard Header CSS */

  .infobar{
        position:relative;
        flex: 0 0 55px;
        width: 100%;
        margin-top:0px; /*Changed top-margin from 25px to 0px as refresh butoon is moved to InteractionViewer.cshtml*/
        border-radius: 0px 5px 0px 0px;  
    } 

.filterBlue {
    /* background: #4489b6; */
    background: linear-gradient(to bottom, #4489b6 11%,#377095 84%,#306080 100%);
}


/** media queries for css header container **/
 @media screen and (max-width: 959px){
    .dashboard_container{
        width: 100%;
    }
    .container_dashboard {
        width : 100%;
    }
} 

/** dashboard atble structure **/
.folloup_dashboard_content_table {
    display: flex;
    flex: 1 1 100%;
    background: white;
    min-height: 560px;
}

.folloup_dashboard_table_container {
    width: 100%;
    position: relative;
    font-size: 11px;
    padding-top: 29px;
    padding-bottom: 0px;
}

.folloup_dashboard_table_header {
    height: 25px;
    background: #DDD;
    border: 1px solid #ccc;
    margin: 1px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

 @media screen and (max-width: 850px){
    .folloup_dashboard_table_container {
        width: 100%;
    }
} 

.folloup_dashboard_table_headerHidden           { position: static; overflow-y: hidden; height: 0; white-space:nowrap}
.folloup_dashboard_table_colHeader    { 
    line-height: 28px; 
    position: absolute; 
    top: 0; 
    text-align: left; 
    text-shadow: 1px 1px 0px #FFF; 
    color: #000; white-space:nowrap; 
    } 
	
.table-sortable > thead > tr > th{
        min-width: 40px;
        height: 0px;
    max-height: 0px;
    margin-bottom: 28px;
} 

.table-sortable > thead > tr > th:hover{
        cursor: default
} 
.folloup_dashboard_table_header  { height: 25px; background: #DDD; border: 1px solid #ccc; margin:1px; position: absolute; top: 0; right: 0; left: 0;}
.folloup_dashboard_table_data  { height:555px; overflow: auto; width: 100%;margin-top:-2px; }
 @media screen and (max-width: 850px){
    .folloup_dashboard_table_data {
        width: 100%;
    }
} 
.folloup_dashboard_table_data table  { width: 100%; border-collapse: collapse;}
.folloup_dashboard_table_data thead th  { padding: 0 5px; font-size: 11px; }
.folloup_dashboard_table_data tbody td { height: 24px; padding: 5px 5px; white-space:nowrap; min-width:120px; max-width: 120px;  overflow: hidden; text-overflow: ellipsis; } 
.folloup_dashboard_table_data tbody tr  { border-bottom: 1px solid #EEE;  border-top: none; cursor: pointer;color:#222}
.folloup_dashboard_table_data tbody tr:hover  { background:#DDD !important; }

.folloup_dashboard_table_data tbody td:first-child { width: 50px; max-width: none; min-width: 50px;  } 
.folloup_dashboard_table_data tbody td:last-child {width: 50px; max-width: none; min-width: 51px; } 

.folloup_dashboard_table_dataDbl                       { height:100%; overflow: auto;  }
.folloup_dashboard_table_dataDbl table                 { width: 100%; border-collapse: collapse}
.folloup_dashboard_table_dataDbl thead th              { padding: 0 5px; font-size: 11px; }

.folloup_dashboard_table_dataDbl hr                    { border:0; height:1px; background:#DDD; margin: 1px; }
.folloup_dashboard_table_dataDbl tbody td              { height: 16px; padding: 0px 5px; font-size: 11px }
.folloup_dashboard_table_dataDbl tbody span            { color: #333; margin: 0; font-size: 12px }
.folloup_dashboard_table_dataDbl tbody                 { border-bottom: 1px solid #DDD;  border-left:1px solid white; border-right: 1px solid white; }

.folloup_dashboard_table_dataDbl tbody:after           { content:""; display:block; height: 1px; background:white }
.folloup_dashboard_table_dataDbl tr:nth-of-type(1) td  { padding-top: 10px; }
.folloup_dashboard_table_dataDbl tr:nth-of-type(2) td  { padding-bottom: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:100px}
.folloup_dashboard_table_dataDbl tbody:hover  	       { background:#EFEFEF !important; }
.folloup_dashboard_table_dataDbl .expired,
.folloup_dashboard_table_dataDbl .expired p        { color: #CCC !important}
.folloup_dashboard_table_dataDbl .expired .icon_marquee{opacity: 0.25}
.folloup_dashboard_table_dataDbl .future               { background: #E9E9E9}
.folloup_dashboard_table_dataDbl .future span             { font-weight: bold}
	
  


.folloup_dashboard_accordianActiveRow                  { background: #CCC !important; font-weight:bold;  }
.folloup_dashboard_accordian                           { padding:0 !important; margin:0 !important; border-radius:  0 0 5px 5px; border: solid 1px #CCC; border-top: solid 1px #DDD; background: #E9E9E9; background: linear-gradient(to bottom,  #BBB 0%,#E9E9E9 10%,#E9E9E9 90%,#DDD 100%); }


.folloup_dashboard_tableAccordian                      { margin: 10px 0 10px 20px}
.folloup_dashboard_tableAccordian_data                 { }
	
.folloup_dashboard_tableAccordian_data th              { text-align: left; padding: 0 5px; height: 25px; border-bottom: 3px double #CCC;  text-shadow: 1px 1px 0px #FFF;}
.folloup_dashboard_tableAccordian_data th:first-child  { width: 15px; }
.folloup_dashboard_tableAccordian_data th:hover        { text-align: left}
.folloup_dashboard_tableAccordian_data td              { border-bottom: 1px solid #FFF; font-size:10px }
.folloup_dashboard_tableAccordian_data tr              { background:none !important; } 


/*Footer CSS*/
.app-footer {
 
  width:100%;
  height:40px;
 -webkit-box-shadow: inset 0px 10px 25px 0px rgba(0,0,0,0.25); 
 -moz-box-shadow: inset 0px 10px 25px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px 10px 25px 0px rgba(0,0,0,0.25);
  position: fixed;
  background-color: #4489b6;
  webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px; 
  border-radius: 0px 0px 5px 5px;
  bottom:0;
}

.app-footer img{
    float:right; 
    height:20px;
    margin-top: 11px;
    margin-right: 20px;
    top: 5px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#footer {
  color: white;
  width: 100%;
  height: 60px;
  position:relative; 
  flex: 0 0 25px;
  padding-right:15px; 
  }

  #footer > .container {
  margin: 0 auto; }

  

.bubble {
	clear: both;
	width: 100%;
    height:24px;
	background: #e2e2e2;
    position:relative;
    bottom:0px;
    background-color: #DDD !important;
   font: 12px/12px arial, sans-serif;
    font-size: 11px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(255,255,255,0.13) 50%,rgba(255,255,255,0) 100%);
}

.paginator{
    height:25px;
    text-align:center;
    cursor: pointer;
    margin-top: -15px;
}

#recordsFoundMessage{
    color:black;
    float:left;
    position: absolute;
    margin-left: 10px;
    margin-top:6px;
}

.pagination-container{
    width: 50%;
    margin: 1px auto;
    margin-left: 22%;
    position: relative;
    text-align: center;
}

.paginator span{
    color:#999;
}
.paginator li{
    border: 1px solid black;
}
pagination-controls /deep/ .ngx-pagination li {

     border: 1px #999 solid;
     margin:0.2rem;
}

pagination-controls /deep/ .ngx-pagination a, .ngx-pagination button {
 color:#999;
 margin: 1px;
    padding: 1px 5px;
    border-radius: 0;
    font: 12px/12px arial, sans-serif;
    font-size: 11px;
 
}

pagination-controls /deep/ .ngx-pagination{
    /*line-height: 0.8;*/
    margin-top: 0.1rem;
}
pagination-controls /deep/ .ngx-pagination li:hover {

     border: 1px black solid;
     margin:0.2rem;
}

pagination-controls /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
 color:black;
 text-decoration: none;
}

pagination-controls /deep/ .ngx-pagination .pagination-previous a::before {
    
    display: none;
    
}

pagination-controls /deep/ .ngx-pagination .pagination-previous.disabled::before {
display: none;
}

pagination-controls /deep/ .ngx-pagination .pagination-previous.disabled:hover, 
 pagination-controls /deep/ .ngx-pagination .pagination-next.disabled:hover {
    border: 1px #999 solid 
  }


pagination-controls /deep/ .ngx-pagination .pagination-next a::after {
    
    display: none;
    
}

pagination-controls /deep/ .ngx-pagination .pagination-next.disabled::after {
display: none;
}
pagination-controls /deep/ .ngx-pagination .disabled {
    margin: 1px;
   color:#999;
    border-radius: 0;
    font: 12px/12px arial, sans-serif;
    font-size: 11px;
}

/**  Table sorting CSS **/
.table-sortable > thead > tr > th{
        min-width: 40px;
}

.header-content-holder{
    /*display: inline-block;*/
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.icon-holder{
     line-height: 28px; 
    position: absolute; 
    top: 0; 
    text-align: left; 
    text-shadow: 1px 1px 0px #FFF; 
    margin-left:120px;
}

.sort-true:after{
    font-family: FontAwesome;
    line-height: 28px;
    padding-left:5px; 
    top: 0;
    text-align: right;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #FFF;
    content: "\f0dd";
    color: #767676;
    vertical-align: top;
}

.sort-false:after{
    font-family: FontAwesome;
    line-height: 28px;
    padding-left:5px; 
    top: 0;
    text-align: right;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #FFF;
    content: "\f0de";
    color: #767676;
    vertical-align: top;
}

.sort-default:after{
    font-family: FontAwesome;
    line-height: 28px;
    padding-left:5px; 
    top: 0;
    text-align: right;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #FFF;
    content: "\f0dc";
    color: #000;
    vertical-align: top;
}

.notsortable:after{
    font-family: FontAwesome;
    line-height: 28px;
    padding-left:5px; 
    top: 0;
    text-align: right;
    white-space: nowrap;
    text-shadow: 1px 1px 0px #FFF;
    content: "";
    color: #767676;
    vertical-align: top;
}


.button_tableActions button            { color: #0077C1; font-size: 16px; border: none; background: none; white-space: nowrap; padding:0}
.button_tableActions button:hover      { color:black }

.pagination-container{
    width: 50%;
    margin: 0 auto;
    margin-left: 22%;
}
.buttonInterface                       { font-size: 11px; margin-left: 4px; padding: 0 5px; height: 20px;  background: #FCFCFC; background-image: linear-gradient(to bottom, #FCFCFC, #BBBBBB); border-radius: 4px; box-shadow: 1px 1px 3px rgba(0,0,0,0.10);  color: #000000; border: solid #BBBBBB 1px; }
.buttonInterface span                  { font-size: 12px; vertical-align: middle}
.buttonInterface:hover                 { background: #FFF; }

td em                     { font-size: 12px; display:inline-block; padding-top: 2px; margin-right: 2px; width: 16px;vertical-align:middle; }
.clr_red                               { color:red     !important }
.clr_lightgrey                         { color:#CCCCCC !important }

td pre{
    border: none;
    margin:0;
    padding:3px 0px 0px 0px;
    height: 19px;
    vertical-align: center;
    font: 12px/12px arial, sans-serif;
    font-size: 11px;
    background: none;
    color: #999;
}

td span {
    vertical-align:middle;
    padding-top:2px;
}
.table_column_margin{
    margin-left: 0px;
}

@media screen and (max-width: 850px){
    .table_column_margin {
        margin-left: 10px;
    }
}

.actions_column {   width: 50px;padding-right: 10px; text-align:right;}

.due_date_column{
    width: 151px;
    text-align: left;
    min-width: 151px !important;
    max-width: 151px !important;
}

th .due_date_column{
    padding-right:10px;
}
tr:nth-child(even) {
    background-color: #FFF;
}

tr:nth-child(odd) {
    background-color: #ebf7ff;
}

.type_face_bold {
    text-shadow: 0px 0px, 0px 0px;
    font-weight: 700;
}

.date_column { max-width:151px !important;}
.subject_column {max-width: 195px !important;}
.icon_margin{ margin-left:18px;}

.header-content-holder-actions {
    display: inline-block;
    width:45px;
}
.header-content-holder-status {
    display: inline-block;
    max-width: 40px
}

